.gotoapp {
	color:  #555;
}
.brighten {
	color: #999;
	max-width: 420px;
	line-height: 1.3;
}
.progress {
	margin: 8px 0;
	width: 80%;
	max-width: 360px;
	background: rgba(255, 34, 34, 0.25);
	height: 4px;
}
.bar {
	width: 0%;
	float: left;
	background: #F22;
	max-width: 360px;
	height: 4px;
	transition: width 1.2s;
}
.progtext {
	font-weight: bold;
	display: inline;
	color: #F22;
}
#loadavg {
	color: #F44;
}
#dbusage {
	color: #08F;
}
#loadavgbar {
	background: #F44;
}
#dbusagebar {
	background: #08F;
}
.rebut {
	transition: width 10s linear;
}
.moreless {
	color: #FF0;
}
#maxusers {
	font-family: monospace;
	margin: 8px;
	color: #FF0;
	display: inline-block;
}
#userlimit {
	color: #888;
	margin-bottom: 6px;
}
#accountlist {
	max-width: 960px;
}
.user {
	border: 1px solid #333;
	color: #F46;
	font-weight: bold;
	display: inline-block;
	padding: 10px 12px 4px;
	text-align: left;
	width: calc(90% - 20px);
	max-width: 360px;
	font-size: 18px;
	margin: 8px;
	border-radius: 8px;
}
.user > .username {
	color: #666;
	margin: 6px 2px 10px;
	font-size: 13px;
	user-select: text;
	display: flex;
	align-items: center;
	-moz-user-select: text;
}
.user > .username > div {
	margin-right: 6px;
}
#accountnum {
	color: #888 !important;
	margin: -9px 0 12px;
}
#passbox {
	font-size: 32px;
	color: #222;
	background: #F80;
	font-family: monospace;
	user-select: text;
	padding: 16px 20px;
	margin: 16px;
	border-radius: 8px;
	display: inline-block;
	transition: box-shadow .3s;
}
#passbox:hover {
	box-shadow: 0 0 20px #F80B;
}
.last_seen {
	color: #666;
	margin: 4px -12px;
	font-size: 14px;
	padding: 14px 12px;
	border-top: 1px solid #333;
}
.joined {
	margin: 0;
	color: #666;
	margin-top: -14px;
	margin-bottom: 8px;
	font-size: 11px;
}
.progress {
	overflow: hidden;
	border-radius: 4px;
}
#rebutstatus {
	height: 100%;
	background: #F33;
	min-width: 0;
	width: 0;
	margin-right: auto;
}
.demos {
	color: #666;
	margin-top: -6px;
	font-size: 11px;
}
.selectos > div {
	display: inline-block;
	background: #333;
	max-width: 320px;
	border-radius: 20px;
	padding: 12px;
	margin: 8px 4px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: border-radius .3s;
}
.selectos > .selected {
	color: #222;
	border-radius: 12px;
}
.selectos > :not(.selected) {
	background: #333 !important;
}
.forwho {
	margin-bottom: 16px;
	color: #888;
}
.forwho > b {
	color: #EEE;
}