html {
	background-color: #222 !important;
	background-image: url(https://c.tenor.com/k2Ub9GzzyCYAAAAC/jp2gmd-polishpope.gif) !important;
}
body {
	background: #222C !important;
}
.top {
	background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 92.5%, transparent) !important;
}
h1 {
	color: #FB0 !important;
}
#panel > button.active {
	background: #FB0 !important;
}
button.highlighted {
	background: #FB0 !important;
	border-color: #FB0 !important;
}
input {
	color: #FB0 !important;
}
.item:hover {
	color: #FB0 !important;
}

.fgrade:focus {
	border-radius: 3px;
	color: #FB0;
}
.message {
	color: #FB0;
}
.message > a {
	color: #FB8;
}
.bigicon {
	fill: #FB0;
}

::selection {
	color: #FB0;
	background: #FB03;
}
button {
	color: #FB0;
}