@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/Quicksand.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/Quicksand_ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../font/Quicksand-Bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../font/Quicksand-Bold_ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 100 700;
	src: url(../font/icons.woff2) format('woff2');
}
body {
	font-family: Quicksand;
	background: #222;
	color: #EEE;
	font-size: 13px;
	user-select: none;
	line-height: 1.25;
	min-height: 100vh;
	min-width: 320px;
	opacity: 0;
	transition: opacity .3s;
	word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
	padding: 0 10px 0;
	margin: 0 auto;
}
.icon {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	color: #AAA;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-variation-settings: 'wght' 400;
}
#canvas {
	width: 100%;
	height: 100%;
}
::-webkit-scrollbar {
	width: 4px;
	background: transparent;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #444;
}
::selection {
	color: #48F;
	background: #48F3;
}
h1 {
	font-size: 36px;
	color: #F46;
	margin: 0 0 6px 10px;
	display: inline-block;
}
.subh1 {
	margin: -4px 0 6px 10px;
	color: #F46A;
	font-weight: bold;
	font-size: 14px;
}
.top {
	background: linear-gradient(to bottom, rgba(34, 34, 34, 0.9) 92.5%, transparent);
	position: sticky;
	top: 0;
	margin: 0 -10px;
	padding: 18px 10px 8px;
	z-index: 1;
}
button {
	color: #48F;
	font-family: inherit;
	font-weight: bold;
	padding: 12px 14px;
	margin: 8px;
	background: transparent;
	outline: none;
	border: 1px solid #333;
	border-radius: 6px;
	cursor: pointer;
	transition: background .3s;
}
button:hover {
	background: #333;
}
button.highlighted {
	background: #48F !important;
	border-color: #48F;
	color: #222;
	transition: opacity .3s;
}
button.highlighted.danger {
	background: #F33 !important;
	border-color: #F33;
}
button.highlighted.warning {
	background: #F60 !important;
	border-color: #F60;
}
button.highlighted:hover {
	opacity: 0.7;
}
.back {
	margin-bottom: 12px;
	width: 48px;
	height: 48px;
	background-image: url("../img/back.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	border-radius: 1000px;
}
.panelitem > * {
	display: inline-block;
	vertical-align: middle;
}
.panelitem {
	overflow-x: hidden;
	border: none;
	margin: 8px 4px;
	border-radius: 24px;
	background: transparent !important;
	transition: background .3s;
}
.panelitem > div:not(.icon) {
	color: transparent;
	width: 0 !important;
	white-space: nowrap;
	transition: width .3s, color .3s;
}
.panelitem > .icon {
	color: #888;
	margin: 0;
	font-size: 22px;
	transition: color .3s;
}
.panelitem.active {
	background: #F46 !important;
}
.panelitem.active > * {
	color: #222 !important;
}
.panelitem.active > div.home {
	width: 51px !important;
}
.panelitem.active > div.grades {
	width: 58px !important;
}
.panelitem.active > div.more {
	width: 48px !important;
}
.panelitem.active > div.settings {
	width: 64px !important;
}
.unclickable {
	cursor: default !important;
	background: transparent !important;
}
.unclickable:hover {
	opacity: unset !important;
}
input, textarea {
	font-family: "Quicksand";
	margin: 4px;
	padding: 12px 14px;
	width: 192px;
	border-radius: 6px;
	font-weight: bold;
	outline: none;
	border: 1px solid #333;
	background: transparent;
	color: #48F;
	resize: none;
	transition: background .3s;
}
input:focus, textarea:focus {
	background: #333;
}
input::placeholder, textarea::placeholder {
	color: #666;
	transition: color .3s;
}
input:focus::placeholder, textarea:focus::placeholder {
	color: #888;
}
textarea {
	width: calc(100% - 48px);
	max-width: 480px;
	height: 192px;
}
div {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .3s, transform .3s, color .3s;
}
.loginbox {
	max-width: 640px;
	padding: 12px;
}
.gotoapp {
	background: transparent !important;
	color: transparent;
	padding: 10px 6px;
	float: right;
	margin: -12px 0 0;
	border: none;
	display: inline-block;
	transition: color .3s;
}
.gotoapp:hover {
	color: #666;
}
.hidden {
	opacity: 0 !important;
}
#content {
	margin: 12px 0 48px;
	transition: opacity .3s, transform .3s;
	display: block;
	width: calc(100% - 8px);
	max-width: 640px;
	min-width: 160px;
}
.ttop {
	transform: translateY(-42px) !important;
}
.tbottom {
	transform: translateY(42px) !important;
}
.tleft {
	transform: translateX(-42px) !important;
}
.tright {
	transform: translateX(42px) !important;
}
.suggestion {
	color: #888;
	margin: 0 0 12px;
}
.ssvg {
	color: #0D0;
	font-size: 80px;
	border-radius: 1000px;
	border: 4px solid #0d0;
	padding: 32px;
	margin: 20px;
}
.svge {
	color: #D00;
	font-size: 80px;
	border-radius: 1000px;
	border: 4px solid #D00;
	padding: 32px;
	margin: 20px;
}
.error {
	margin: 0 0 6px 0;
	color: #F00;
	font-weight: bold;
	font-size: 20px;
}
.success {
	margin: 0 0 6px 0;
	color: #0F0;
	font-weight: bold;
	font-size: 20px;
}
svg {
	border-radius: 12px;
	margin: 8px;
	width: 128px;
	height: 128px;
}
.header {
	font-size: 24px;
	margin-bottom: 20px;
}
.dayname {
	font-size: 24px;
	margin-bottom: 16px;
}
.subheader {
	color: #888;
	margin: -16px 0 20px;
}
.grades {
	margin-bottom: 0;
}
.headline {
	font-size: 32px;
	margin-bottom: 4px;
}
.username {
	margin: 0 0 6px;
	font-family: monospace;
	color: #888;
	user-select: text;
}
.brighten {
	color: #999;
	max-width: 420px;
	line-height: 1.3;
}
.marker {
	color: #666;
	margin: 32px 0 8px;
}
.bubble {
	background: transparent;
	color: #CCC;
	display: inline-block;
	min-width: 160px;
	width: calc(50% - 20px);
	vertical-align: top;
	max-width: 320px;
	text-align: left;
	border-radius: 6px;
	margin: 8px;
	font-size: inherit;
	overflow: hidden;
	padding: 10px 12px;
}
.bubble > .name {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 3px;
}
.bubble > .value {
	margin-bottom: 2px;
	opacity: 0.65;
}
.bubble > .big {
	font-size: 72px;
	margin-bottom: 0;
	opacity: 1 !important;
}
.bubble > .ocen {
	font-size: 42px;
	display: inline-block;
	width: 56px;
	text-align: center;
	margin: 5px 16px 0 4px;
	height: 100%;
	vertical-align: top;
}
.bubble > .oceninfo {
	width: calc(100% - 76px);
	display: inline-block;
}
.bubble > .oceninfo > * {
}
.wide {
	max-width: 480px;
	width: calc(100% - 24px);
}
.red {
	color: #F22 !important;
}
.yellow {
	color: #FB0 !important;
}
.green {
	color: #0D4 !important;
}
.option {
	text-align: left;
	margin: 12px 0;
	width: calc(100% - 8px);
	display: block;
	max-width: 480px;
	display: flex;
	align-items: center;
}
.option > .icon {
	color: #888;
	transform: translateX(-4px);
	font-size: 32px;
	margin: 10px 12px 10px 10px;
}
.option > div > .title {
	color: #BBB;
	font-size: 17px;
	margin-bottom: 2px;
}
.subtitle {
	color: #999;
}
.option > div > .subtitle {
	transition: color .3s;
}
.option > div > .subtitle.err {
	color: #F00;
}
.schoolname {
	font-size: 18px;
	margin: 8px 0;
	font-weight: bold;
	max-width: 360px;
}
.left {
	text-align: left !important;
}
.unclickable {
	cursor: default;
}
.whiterror {
	color: #EEE;
	font-size: 24px;
}
.item {
	padding: 2px 4px;
	font-size: 14px;
	color: #999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: none;
}
.item > .name {
	text-align: left;
		max-width: calc(100% - 36px);
}
.item > .value {
	font-weight: bold;
}
.item:hover {
	color: #48F;
}
.item > .value > b {
	display: inline-block;
	outline: none;
	width: 2ch;
	text-align: center;
	padding: 9px;
	border: 0px solid transparent;
	transition: border .1s, color .3s;
}
.item > .value > b:focus {
	border-bottom: 2px solid #F26;
	color: #F26;
}
.item > .value > i {
	opacity: 0;
	margin: 0;
	margin-right: -25px;
	color: #666;
	display: inline-block;
	vertical-align: bottom;
	font-weight: bold;
	margin-bottom: 4px;
	font-variant: normal;
	font-size: 20px;
	transition: all .4s;
}
.item > .value > i.s {
	font-size: 10px;
	margin-right: 12px;
	opacity: 1;
}
.fgrade {
	width: 3ch !important;
	display: inline-block;
	padding: 10px !important;
	text-align: center;
	all: unset;
	outline: none;
	border-radius: 32px;
	transition: border-radius .3s, background .3s;
}
.fgrade:focus {
	border-radius: 3px;
	color: #48F;
}
.inline {
	display: inline-block;
}
.bold {
	font-weight: bold;
}
.noanime {
	transition: initial !important;
}
.message {
	background: #111;
	border-radius: 12px;
	padding: 16px 18px;
	color: #48F;
	user-select: text;
	text-align: left;
	font-family: monospace;
}
a {
	color: #68F;
	text-decoration: underline;
	cursor: pointer;
}
.message > a:hover {
	text-decoration: underline;
}
.attachments {
	margin: 16px 0;
}
.attachments > div {
	padding: 12px;
	color: #AAA;
	font-family: monospace;
	border: 1px solid #333;
	border-radius: 6px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
	width: calc(50% - 48px);
	cursor: pointer;
	transition: background .3s;
}
.attachments > div:hover {
	background: #333;
}
.moreitem {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	height: 172px;
	width: 172px;
	transition: height .3s, width .3s, background .3s;
}
.moreitem > .icon {
	margin: 8px;
	font-size: 96px !important;
	color: inherit;
}
.moreitem > .icon {
	font-weight: bold;
	font-size: 14px;
	transition: font-size .3s;
}
.moreitem > .subtitle {
	color: #666;
}
.msgread {
	color: #666;
}
.bigicon {
	margin: 32px 20px;
	font-size: 192px;
	background: linear-gradient(30deg, #F08, #F80);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	border-radius: 50%;
	color: #48F;
}
#userpic {
	border: none;
	overflow: hidden;
	border-radius: 1000px;
	position: relative;
	width: 240px;
	height: 240px;
	background: transparent !important;
}
#userpic:before {
	content: " ";
	border-radius: 1000px;
	color: #DDD;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 1;
	transition: opacity .3s;
}
#userpic:after {
		content: "Click to change";
		position: absolute;
		font-size: 14px;
		top: 50%;
		left: 50%;
		z-index: 1;
		opacity: 0;
		transform: translate(-50%, -50%) scale(1.15);
		color: #DDD !important;
		transition: opacity .3s, transform .3s;
}
#userpic:hover:before {
	opacity: .6;
}
#userpic:hover:after {
	transform: translate(-50%, -50%);
	opacity: 1;
}
#userpic > img {
	position: absolute;
	object-fit: cover;
	opacity: 0;
	transform: translate(-50%, -50%);
	border-radius: 1000px;
	width: 100%;
	height: 100%;
	transition: transform .3s, opacity .3s;
}
#userpic:hover > * {
	transform: translate(-50%, -50%) scale(1.2);
}
.pplist {
	max-width: 500px;
}
.pplist > button > img {
	width: 100%;
	height: 100%;
	opacity: 0;
	object-fit: cover;
	border-radius: 1000px;
	transition: transform .3s, opacity .3s;
}
.pplist > button {
	width: 108px;
	height: 108px;
	border-radius: 1000px;
	display: inline-block;
	overflow: hidden;
		margin: 8px;
		padding: 0;
		cursor: pointer;
		transition: width .3s, height .3s, background .3s;
}
.pplist > button:hover > img {
	transform: scale(1.13);
}
.centre {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.credentials {
	background: #111;
	display: inline-block;
	width: 150px;
	margin: 4px;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	padding: 0 10px;
	border-radius: 26px;
	transition: border-radius .3s, width .3s;
}
.credentials > * {
	padding: 16px 0;
}
.credentials > .name {
	width: 100%;
	border-radius: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	background: #111;
	transition: transform .3s, border-radius .3s;
}
.credentials:hover > .name {
	border-radius: 26px 26px 0 0;
	transform: translate(-50%, -150%);
}
.credentials > .value {
		opacity: 0.7;
		overflow-x: hidden;
	white-space: nowrap;
		user-select: text;
}
.credentials:hover {
	border-radius: 0 0 26px 26px;
}
.circ {
	display: inline-block;
	position: relative;
	width: 194px;
	height: 194px;
}
.circ, .circ > * {
	transition: height .3s, width .3s, font-size .3s;
}
.circ > .icon {
	position: absolute;
	color: inherit;
	transform: translate(-20px);
}
.circ > .cprog {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}
.circ > .cprog > defs > path {
	stroke-linecap: round;
	stroke-width: 4;
}
.circ > div {
	font-weight: bold;
}
.circ > .tooltip {
	position: absolute;
	top: 66%;
	left: 47%;
	font-size: 11px;
	transform: translate(-50%, -50%);
}
.circ > .value {
	font-size: 52px;
	position: absolute;
	top: 48%;
	left: 48%;
	transform: translate(-50%, -50%);
}
.circ > .value > b {
	font-size: 24px;
}
.circ > .icon {
	position: absolute;
	top: 82%;
	left: 50%;
}
.lucky {
	margin-top: 6px;
	color: #888;
}
.lucky.yes {
	color: #0D0;
	font-weight: bold;
}
.lucky.yes > div > b {
	font-size: 18px;
}
.lucky > * {
	display: inline-block;
	vertical-align: middle;
}
.lucky > .icon {
	margin-right: 6px;
	color: #666;
}
.lucky.yes > .icon {
	color: #0D0;
}
.darken {
	opacity: 0.6;
}
#datafetcher.hidden {
	height: 0;
}
.option.checkbox {
	display: flex;
	align-items: center;
}
.option.checkbox > .check {
	width: 24px;
	height: 24px;
	border-radius: 100px;
	margin: 0 4px 0 auto;
	background: #111;
	transition: background .3s;
}
.option.checkbox > .check.ed {
	background: #F46;
}
.option.checkbox > .check::after {
	content: "✔";
	transform: translate(-50%, -50%) scale(0) rotateZ(180deg);
	color: #222;
	top: calc(50% + 1px);
	left: 50%;
	position: absolute;
	font-size: 16px;
	transition: transform .3s;
}
.option.checkbox > .check.ed::after {
	transform: translate(-50%, -50%);
}
.option.checkbox > .icon {
	margin: 0 14px 0 10px;
}
.progress {
	max-width: 360px;
	display: flex;
	margin: 72px 0 60px;
	align-items: center;
	justify-content: space-around;
	text-align: right;
}
.progress > .text > .value {
	font-weight: bold;
	font-size: 45px;
	color: #0F8;
}
.progress > .text > .value:after {
	content: "%";
	font-size: 18px;
}
.progress > .text > .text {
	color: #888;
}
.progress > .bar {
	width: 16px;
	background: #333;
	height: 128px;
	border-radius: 12px;
	overflow: hidden;
}
.progress > .bar > div {
	background: #0F8;
	bottom: 0;
	position: absolute;
	left: 0;
	border-radius: 12px;
	width: 100%;
	min-height: 16px;
}
.bubble.prog > .bar {
	background: #333;
	height: 4px;
	width: calc(100% + 24px);
	margin: 12px -12px -10px;
}
.progress.danger > .bar > div {
	background: #F33 !important;
}
.progress.danger > .text > .value {
	color: #F33 !important;
}
.progress.warning > .bar > div {
	background: #FB0 !important;
}
.progress.warning > .text > .value {
	color: #FB0 !important;
}
.bubble.prog > .bar > div {
	background: #48F;
	position: absolute;
	left: 0;
	height: 100%;
	border-radius: 4px;
	min-width: 4px;
}
.bubble.prog > .warning > div {
	background: #F60;
}
.bubble.prog > .danger > div {
	background: #F33;
}
.headchoice {
	background: #111;
	border-radius: 16px;
	padding: 4px;
	display: flex;
	margin-bottom: 10px;
}
.headchoice > div {
	font-weight: bold;
	margin: 4px;
	padding: 14px;
	width: 50%;
	border-radius: 10px;
	cursor: pointer;
	transition: background .3s, color .3s;
}
.headchoice > .selected {
	background: #F46;
	color: #111;
}
iframe {
	border: none;
	outline: none;
	background: #222;
	width: 100%;
	min-height: 360px;
	max-width: 540px;
}
#download-prompt {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 500000;
	background: #333;
	min-width: 280px;
	max-width: 480px;
	padding: 24px 32px;
	border-radius: 32px;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	width: calc(100% - 64px);
	transition: transform .3s, opacity .3s;
}
#download-prompt.shown {
	opacity: 1;
	transform: translateX(-50%) scale(1);
}
.bigfile {
	color: #F80;
	font-family: monospace;
	margin: 0 8px 24px;
}
.bigfile > div:not(.icon) {
	background: #F803;
	display: inline-block;
	padding: 8px;
	border-radius: 6px;
}
.bigfile > .icon {
	display: block;
	font-size: 108px;
	color: #F80;
	margin: 20px 0;
}
.checkboxes > div {
	margin: 4px;
	display: inline-block;
	border: 1px solid #333;
	padding: 8px 10px;
	cursor: pointer;
	border-radius: 32px;
	color: #999;
	font-weight: bold;
	transition: color .3s, background .3s;
}
.checkboxes > div:hover {
	background: #333;
}
.checkboxes > div:before {
	content: "✔";
	color: transparent;
	padding: 0 6px;
	background: #444;
	font-size: 14px;
	margin-right: 6px;
	border-radius: 24px;
	transition: color .3s, background .3s;
}
.checkboxes > .checked:before {
	background: #68F !important;
	color: #222;
}
.restored {
	user-select: text;
	display: inline-block;
	font-family: monospace;
	padding: 10px 14px;
	min-width: 192px;
	background: #F90;
	color: #222;
	margin-bottom: 8px;
	border-radius: 100px;
}
.next {
	font-weight: bold;
	color: #222;
	background: #68F;
	display: inline-block;
	padding: 8px 12px;
	border-radius: 28px;
	font-size: 14px;
	margin-bottom: 12px;
}
.next > * {
	display: inline-block;
	vertical-align: middle;
}
#darkenmsg {
	background: #222;
	opacity: .8;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity .3s;
}
#darkenmsg.hidden {
	opacity: 0;
}
.tier {
	margin: 0 4px;
	font-size: 10px;
	text-transform: uppercase;
	color: #222;
	font-weight: bold;
	border-radius: 6px;
	padding: 4px 6px;
	display: inline-block;
}
.demo {
	background: linear-gradient(35deg, #FB0, #6F0) !important;
}
.tier.demo:after {
	content: "demo";
}
.free {
	background: linear-gradient(35deg, #F33, #FB0) !important;
}
.tier.free:after {
	content: "free";
}
.plus {
	background: linear-gradient(35deg, #96F, #F46) !important;
}
.tier.plus:after {
	content: "plus";
}
.pro {
	background: linear-gradient(35deg, #0F4, #0FF) !important;
}
.tier.pro:after {
	content: "pro";
}
#demodays {
	display: inline;
}
#demotier {
	background: #FB0;
	border-radius: 16px;
	padding: 14px 16px;
	color: #222;
	margin-top: 12px;
}
.notif_button {
	position: fixed;
	scroll-behavior: smooth;
	left: calc(100% - 68px);
	top: 14px;
	height: 42px;
	font-size: 20px;
	width: 48px;
	border-radius: 100px;
	margin: 0;
	z-index: 100;
	overflow: hidden;
	max-width: 640px;
	max-height: 720px;
	padding: 0;
	color: inherit;
	z-index: 5000;
	transition: all .4s !important;
}
.notif_button::-webkit-scrollbar {
	display: none;
}
#notifier {
	position: absolute;
	top: 50%;
	left: 50%;
	background: transparent;
	color: #999;
	z-index: 500;
	border-radius: 100px;
	font-size: 22px;
	padding: 20px;
	transition: opacity .4s, color .4s, background .4s;
	transform: translate(-50%, -50%) rotateZ(0);
}
.notif_button > .notifications {
	font-size: 13px;
	opacity: 0;
	padding-bottom: 24px;
	min-height: 100%;
	min-width: calc(100vw - 64px);
	width: calc(100% - 24px);
	max-width: calc(100% - 24px);
	transition: opacity .4s, transform .4s;
}
@keyframes notify {
	from {transform: translate(-50%, -50%) rotate(0)}
	25% {transform: translate(-50%, -50%) rotate(40deg)}
	50% {transform: translate(-50%, -50%) rotate(0)}
	75% {transform: translate(-50%, -50%) rotate(-40deg)}
	to {transform: translate(-50%, -50%) rotate(0)}
}
#notifier.notifing {
	color: #222;
	background: #FB0;
	animation: notify 1s infinite linear;
}
.notif_button.expanded {
	top: 50%;
	border-radius: 20px;
	cursor: default;
	left: 50%;
	background: #222E;
	overflow-y: scroll;
	width: calc(100vw - 32px);
	height: calc(100vh - 32px);
	transform: translate(-50%, -50%);
	box-shadow: 3px 3px 12px#1119;
}
.notif_button.expanded > #notifier {
	font-size: 128px;
	color: #BBB;
	opacity: 0;
	transition: opacity .4s .4s, font-size .4s .4s, background .3s, color .3s;
}
.notif_button.expanded > .notifications {
	opacity: 1;
	transition: opacity .4s .8s, transform .4s .8s;
}
#notifications {
	max-width: 638px;
}
#notifications > div {
	display: flex;
	align-items: center;
	padding: 12px 0;
	text-align: left;
}
#notifications .icon {
	margin-right: 6px;
	padding: 0 16px;
	margin-left: 8px;
}
#notifications .title {
	font-size: 16px;
}
#notifications .text > .text {
	color: #AAA;
}
.notify-header {
	position: sticky;
	padding: 18px 12px 14px;
	top: -1px;
	background: #2D2D2DEE;
	width: 100%;
	z-index: 101;
	display: flex;
	align-items: center;
	text-align: left;
}
.notifications > .notify-header > .back {
	border: 1px solid #444;
	cursor: pointer;
	transition: background .3s;
	margin: 2px 12px 2px 6px;
	min-width: 40px;
}
.notifications .subheader {
	margin: 0;
	padding: 0 4px 0 0;
}
.notifications .header {
	padding: 0;
	margin: 0;
}
.notifications > .notify-header > .back:hover {
	background-color: #444;
}
.separator {
	display: block;
	color: #999;
	margin: 24px 0 6px;
	color: #FB0;
}
.separator.wider {
	color: #AAA;
	margin: 48px 0;
}
#darken {
	z-index: 3000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #1119;
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s, visibility .4s;
}
#darken.shown {
	visibility: visible;
	opacity: 1;
	transition: opacity .4s;
}
.traceback {
	max-width: 480px;
	background: #080808;
	padding: 10px 12px;
	text-align: left;
	font-family: monospace;
	font-size: 11px;
	color: #0F8;
	border-radius: 10px;
	margin: 8px 0 0;
	user-select: text;
}
@media (max-width: 420px) {
	.circ {
		width: 180px;
		height: 180px;
	}
	.circ > .value {
		font-size: 48px;
	}
	.circ > .tooltip {
		font-size: 11px;
	}
	.pplist > button {
		width: 92px;
		height: 92px;
	}
	.moreitem {
		height: 150px;
		width: 150px;
	}
	.moreitem > .icon {
		font-size: 88px !important;
	}
	.moreitem > div {
		font-weight: bold;
		font-size: 13px;
	}
}
@media (max-width: 392px) {
	.bubble {
		width: calc(100% - 24px);
		max-width: 100%;
	}
	.attachments > div {
		width: calc(100% - 20px);
	}
	.moreitem {
		height: 136px;
		width: 136px;
	}
	.moreitem > .icon {
		font-size: 72px !important;
	}
	.credentials {
		width: 124px;
	}
	.circ {
		width: 164px;
		height: 164px;
	}
	.circ > .value {
		font-size: 42px;
	}
	.circ > .tooltip {
		font-size: 10px;
	}
}
