<style>
	#about b {font-size: 16px; display: block;}
	#about i {font-style: normal; color: #9B9;}
	#about p {margin: 2px 0; color: #888}
</style>
<div style="max-width: 540px; font-weight: bold;">
	<div><img src="./img/icon.png"></div>
	<div style="font-size: 28px;">Librusik</div>
	<div style="color: #888;">A cool Librus Synergia web client.<br>Source: <a target="_blank" href="https://gitlab.com/dani3l0/librusik">gitlab.com/dani3l0/librusik</a></div>
	<br><br>
	<div style="text-align: left;">
		<b>The idea</b>
		<p>The main idea was to check school grades without logging in Synergia each time you open the browser. After few hours of Librus API research it turned out that an almost complete replacement can be created... So, here it is :)))</p><br>
		<b>Features</b>
		<p>Librusik not only supports basic features like <i>grades, timetable, free days, lucky numbers or exams</i>, but also includes extra features including Librus' paid ones. Those are <i>viewing messages with attachments, enforced average calculation (works even if school disables it), cool year countdown gauges</i> and many more.</p><br>
		<b>Personal data</b>
		<p>You don't have to worry about your personal data. Synergia passwords are stored securely. Admin can only see your full name to identify who's using Librusik.</p><br>
		<b>Contact</b>
		<p>Having trouble? Questions? Maybe suggestions? Feel free to contact <a href="%s" target="_blank" style="font-weight: bold;">admin</a> who's running this instance.</p>
		<br>
	</div>
</div>
