<button class="back" onclick="goto('messages', 2, true, true)"></button><br>
<div class="header">%s</div>
<div class="subheader">From <b>%s</b><br>%s</div>
<div class="message">%s</div>
<div class="attachments">%s</div>
<div class="msgread">Read&nbsp;&nbsp;<b>%s</b></div>
<div id="download-prompt">
	<div class="header">Download attachment</div>
	<div class="subheader">%s</div>
	<div class="bigfile">
		<div class="icon">description</div>
		<div id="fname"></div>
	</div>
	<button onclick="closeFileDownload()">Cancel</button>
	<button class="highlighted" id="dwbutton" style="%s"></button>
</div>
<div id="darkenmsg" class="hidden" style="display: none;"></div>