<div style="max-width: 540px;">
	<div><img src="./img/icon.png"></div>
	<div style="font-size: 28px; font-weight: bold;">Librusik Tiers</div>
	<div style="color: #888; font-weight: bold;">Try to deserve better.</div>
	<br>
	<div style="text-align: left; max-width: 640px; color: #888; font-size: 14px; font-weight: bold;">
		<div style="color: #DDD; font-size: 16px">About <div class="tier demo"></div> tier:</div>
		<div>- Access to all available features</div>
		<div>- Subscription for 7 days</div>
		<div>- After that period all features become unavailable, so tier upgrade is mandatory to continue using Librusik</div><br>
		<div style="color: #DDD; font-size: 16px">About <div class="tier free"></div> tier:</div>
		<div>- Basic features are included</div>
		<div>- Has no time limit</div>
		<div style="height: 4px;"></div>
		<div>%s</div><br>
		<div style="color: #DDD; font-size: 16px">About <div class="tier plus"></div> tier:</div>
		<div>- Subject average calculation</div>
		<div>- Recent grades list</div>
		<div>- Countdowns in Exams & Free days</div>
		<div>- Attendances presences & absences filtering</div>
		<div style="height: 4px;"></div>
		<div>%s</div><br>
		<div style="color: #DDD; font-size: 16px">About <div class="tier pro"></div> tier:</div>
		<div>- Notification Center</div>
		<div>- Final averages calculations</div>
		<div>- Message attachments can be downloaded</div>
		<div>- Per-subject & per-semester Attendances dashboard</div>
		<div style="height: 4px;"></div>
		<div>%s</div><br>
		<div>%s</div>
	</div>
</div>
